* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-transform: uppercase;
  background-image: url('https://i.imgur.com/E4rY1td.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(29, 2, 29);
}

header {
  flex-direction: row;
  text-align: center;
  margin: 20px;
}

.logo {
  background-image: url('https://i.imgur.com/yGce776.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}


.grid {
  background-image: url('https://i.imgur.com/8kQtjjZ.png');
  background-size: contain;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.grid div {
  color: green;
  font-size: 10px;
  width: 20%;
  height: 20%;
  border: 1px solid green;
}

#startBtn {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  color: white;
  background-color: purple;
  padding: auto;
  margin-top: 10px;
  border: 2px solid black;
}

.grid div.laserCannon {
  background-image: url('https://i.imgur.com/GvKEaCX.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.grid div.alien {
  background-image: url('https://i.imgur.com/ZGnwsiN.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.laser {
  background-color: yellow;
  size: 10px;
  }

.bomb { 
  background-color: purple;
}

.boom {
  background-color: red;
}

footer {
  display: flex;
  flex: 1;
  display: inline-block;
}
