* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-transform: uppercase;
  background-image: url('https://i.imgur.com/E4rY1td.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(44, 2, 44);
}

#gameDisplay {
  display: none;
  transform: translate(0px, -500px);
  background-color: black;
  padding: 20px;
}

.grid {
  background-image: url('https://i.imgur.com/8kQtjjZ.png');
  background-size: contain;
  display: flex;
  flex-direction: row;
  /* border: 1px solid grey; */
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.grid div {
  /* color: green; */
  /* font-size: 10px; */
  width: 20%;
  height: 20%;
  /* border: 1px solid green; */
}

#startBtn {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  color: white;
  background-color: purple;
  padding: 20px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 15px;

}

#startBtn:hover {
background-color: green;
}

.displays {
  text-align: left;
  width: 75%;
}

.grid div.laserCannon {
  background-image: url('https://i.imgur.com/xpvgDl8.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.grid div.alien {
  background-image: url('https://i.imgur.com/pT4jmZO.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.laser {
  background-image: url('https://i.imgur.com/0xmDsMU.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }

.bomb { 
  background-image: url('https://i.imgur.com/UUjlg0N.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
