* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: black;
}

h1  {
  font-family: 'Press Start 2P', cursive;
  color: green;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.grid {
  background-image: url('https://i.imgur.com/8kQtjjZ.png');
  background-size: contain;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.grid div {
  width: 20%;
  height: 20%;
  border: 1px solid green;
}

#startBtn {
  background-color: red;
  font-family: 'Press Start 2P', cursive;
  padding: auto;
  margin-top: 10px;
  border: 1px solid black;
}

.grid div.laserCannon {
  background-image: url('https://i.imgur.com/GvKEaCX.png');
  background-size: contain;
}

.grid div.alien {
  background-image: url('https://i.imgur.com/ZGnwsiN.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.laser {
  background-color: yellow;
  size: 10px;
  }

.bomb { 
  background-color: purple;
}

.boom {
  background-color: red;
}

#currentLivesDisplay, #currentScoreDisplay, p {
  font-family: 'Press Start 2P', cursive;
  color:  green;
}
